# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments and secrets
.env
.venv

# IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
